{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2><a href="/books/{{ book.pub_date_str }}"><img height="400" src="{{ book.image }}" alt={{ book.name }}><br>{{ book.name }}</a></h2>
                <br>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }}<br><br></p>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
                <div>
                    <p><a href="/admin">>>> to admin</a></p>
                </div>
{% endblock %}